<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

				<title>Spinner</title>
				<meta name="description" content="Сайт">
					<meta name="keywords" content="spinner">
						<meta name="author" content="spinner">

							<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
								<link rel="stylesheet" href="/css/style.css">
								</head>
								<body>
									<header class="header">
										<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
											<a class="navbar-brand" href="#" role="banner">Spinner</a>

											<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Переключить навигацию">
												<span class="navbar-toggler-icon"></span>
											</button>

											<div class="collapse navbar-collapse" id="navbarsDefault">
												<ul class="navbar-nav mr-auto">
													<li class="nav-item active">
														<a class="nav-link" href="#">Main <span class="sr-only">(current)</span></a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#">About us</a>
													</li>
												</ul>

												<form class="form-inline my-2 my-lg-0" role="search">
													<input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
														<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find</button>
													</form>
												</div>
											</nav>
										</header>

										<main role="main" class="mt-5">

											<div class="container">

												<div class="row">

													<div class="col-md-12">

														<div class="alert alert-info alert-dismissible fade show" role="alert">
															<strong>Holy guacamole!</strong> You should check in on some of those fields below.
															<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>

													</div>

												</div>

												<div class="row">

													<div class="col-md-3">
														<div class="card">
															<div class="card-body">
																<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
																	<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Main</a>
																	<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
																	<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Deposite</a>
																	<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cash Out</a>
																	<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-statistic" role="tab" aria-controls="v-pills-settings" aria-selected="false">Statistic</a>
																	<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-logout" role="tab" aria-controls="v-pills-settings" aria-selected="false">Log Out</a>
																</div>
															</div>
														</div>
													</div>

													<div class="col-md-9">


														<div class="tab-content" id="v-pills-tabContent">
															<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

																<div class="card text-center">
																	<div class="card-header">

																		<!-- Nav tabs -->
																		<ul class="nav nav-tabs nav-fill card-header-tabs" role="tablist">
																			<li class="nav-item">
																				<a class="nav-link active" data-toggle="tab" href="#dollars_10">10$</a>
																			</li>
																			<li class="nav-item">
																				<a class="nav-link" data-toggle="tab" href="#dollars_100">100$</a>
																			</li>
																			<li class="nav-item">
																				<a class="nav-link" data-toggle="tab" href="#dollars_1000">1000$</a>
																			</li>
																		</ul>
																	</div>
																	<div class="card-body">
																		<!-- Tab panes -->
																		<div class="tab-content">
																			<div id="dollars_10" class="container tab-pane active"><br>
																					<h3>Up to 10$ room</h3>
																					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

																					<div class="progress"  style="height: 40px;">
																						<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Mark</div>
																						<div class="progress-bar bg-success  progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Jacob</div>
																						<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Larry</div>
																					</div>

																					<form>
																						<div class="form-group">
																							<label for="exampleInputBet1">Print your bet:</label>
																							<input type="bet" class="form-control" id="exampleInputBet1" aria-describedby="betHelp" placeholder="Up to 10$">
																								<small id="betHelp" class="form-text text-muted">Lorem ipsum dolor sit amet, consecte</small>
																							</div>

																							<button type="buttont" class="btn btn-primary">Make bet</button>
																							<button type="button" class="btn btn-outline-primary">Change room</button>
																						</form>

																						<div class="row mt-4">

																							<div class="col-md-6">
																								<p class="h5">Current game:</p>
																								<table class="table table-striped mt-4">
																									<thead>
																										<tr>
																											<th scope="col">#</th>
																											<th scope="col">Player</th>
																											<th scope="col">Cost</th>
																										</tr>
																									</thead>
																									<tbody>
																										<tr>
																											<th scope="row">1</th>
																											<td>Mark</td>
																											<td>2</td>
																										</tr>
																										<tr>
																											<th scope="row">2</th>
																											<td>Jacob</td>
																											<td>10</td>
																										</tr>
																										<tr>
																											<th scope="row">3</th>
																											<td>Larry</td>
																											<td>5</td>
																										</tr>
																									</tbody>
																								</table>

																							</div>

																							<div class="col-md-6">
																								<p class="h5">Last game:</p>
																								<table class="table table-striped mt-4">
																									<thead>
																										<tr>
																											<th scope="col">#</th>
																											<th scope="col">Player</th>
																											<th scope="col">Cost</th>
																										</tr>
																									</thead>
																									<tbody>
																										<tr>
																											<th scope="row">1</th>
																											<td>Mark</td>
																											<td>2</td>
																										</tr>
																										<tr class="table-success">
																											<th scope="row">2</th>
																											<td>Jacob</td>
																											<td>10</td>
																										</tr>
																										<tr>
																											<th scope="row">3</th>
																											<td>Larry</td>
																											<td>5</td>
																										</tr>
																									</tbody>
																								</table>

																							</div>

																						</div>

																					</div>
																					<div id="dollars_100" class="container tab-pane fade"><br>
																							<h3>Menu 1</h3>
																							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
																						</div>
																						<div id="dollars_1000" class="container tab-pane fade"><br>
																								<h3>Menu 2</h3>
																								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                ...
																				</div>
																				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                ...
																				</div>
																				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                ...
																				</div>
																				<div class="tab-pane fade" id="v-pills-statistic" role="tabpanel" aria-labelledby="v-pills-statistic-tab">
                                ...
																				</div>
																				<div class="tab-pane fade" id="v-pills-logout" role="tabpanel" aria-labelledby="v-pills-logout-tab">
                                ...
																				</div>
																			</div>





																		</div>

																		<!--div class="col-md-4">
						<h2>Tittle 2</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Tittle 3</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Tittle 4</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Tittle 5</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Tittle 6</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div>
					<div class="col-md-4">
						<h2>Tittle 7</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						<p><a class="btn btn-secondary" href="#" role="button">More »</a></p>
					</div-->

																	</div>
																</div>
															</main>
															<footer role="contentinfo" class="footer">
																<div class="container">
																	<span class="text-muted">©2020</span>
																</div>
															</footer>
														</body>

														<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
														<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
														<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
													</html>